:host {
  display: block;
  min-height: 100vh;
}

.shell {
  min-height: 100vh;
}

.shell__workspace {
  min-width: 0;
  min-height: 100vh;
}

.shell__content {
  min-height: calc(100vh - 4rem);
}

@media (min-width: 1024px) {
  .shell__workspace {
    margin-left: 15rem;
  }
}
